@import 'reset_basic_settings.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 2.5px solid black;
  border-radius: 15px;
  padding: 20px;
}
p {
  margin-bottom: 20px;
  &:nth-child(1) {
    font-size: 5px;

  }
  &:nth-child(2) {
    font-style: italic;
    
  }
  &:nth-child(3) {
    font-weight: 700;
    
  }
  &:nth-child(4) {
    text-decoration: line-through;
    
  }
  &:nth-child(5) {
    text-decoration: underline;
    
  }
  &:nth-child(6) {
    border: 5px dotted black;
    border-radius: 15px;
    padding: 5px;
  }
  &:last-child {
    margin-bottom: 0px;
    transition: 0.5s;
    &:hover {
      border: 5px dashed black;
      border-radius: 15px;
      padding: 5px;
      box-shadow: 2px 20px 20px red;
    }
  }
}
.b-color {
  background-color: #DAD0E5 ;
}
.title {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.pad {
  padding: 50px;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 1 auto;
}
.header {
  padding-top: 30px;
  &__row {
  }
}
.top {
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__body {
  }
  &_title {
  }
  &__text {
  }
  &__image {
    
  }
}

.middle {
    &__row {
      display: flex;
      justify-content: space-between;
  }
    &__image {
      img {height: 290px;}
  }
    &__body {
  }
    &__text {
  }
}

.list {

    &__row {
  }
    &__title {
  }
  &__unnumbered {
    li {
      padding-left: 36px;
      margin-bottom: 20px;
      &:nth-child(1) {
       background: url('../img/ul_list/li.png') left no-repeat;
      }
      &:nth-child(2) {
        background: url('../img/ul_list/li_1.png') left no-repeat;
      }
      &:nth-child(3) {
        background: url('../img/ul_list/li_2.png') left no-repeat;
      }
      &:nth-child(4) {
        background: url('../img/ul_list/li_3.png') left no-repeat;
      }
      &:last-child {
        background: url('../img/ul_list/li_4.png') left no-repeat;
      }
    }
  }
  &__ordered {
    li {
      padding-left: 36px;
      margin-bottom: 20px;
      &:nth-child(1) {
        margin-top: 50px;
       background: url('../img/ol_list/li.png') left no-repeat;
      }
      &:nth-child(2) {
        background: url('../img/ol_list/li_1.png') left no-repeat;
      }
      &:nth-child(3) {
        background: url('../img/ol_list/li_2.png') left no-repeat;
      }
      &:last-child {
        background: url('../img/ol_list/li_3.png') left no-repeat;
      }
    }
  }
}
.footer {
  a {
    transition: 0.5s;
  }
  &__row {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
  }
  &__text_1 {
    font-size: 20px;
   text-decoration: none;
   a:visited{
    color: #000;
   }
   a:hover {
    color: chartreuse;
    font-size: 30px;
    text-decoration: underline;
   }
  }
}