@import 'reset_basic_settings.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 2.5px solid black;
  border-radius: 15px;
  padding: 20px;
}

p {
  margin-bottom: 20px;
}
p:nth-child(1) {
  font-size: 5px;
}
p:nth-child(2) {
  font-style: italic;
}
p:nth-child(3) {
  font-weight: 700;
}
p:nth-child(4) {
  text-decoration: line-through;
}
p:nth-child(5) {
  text-decoration: underline;
}
p:nth-child(6) {
  border: 5px dotted black;
  border-radius: 15px;
  padding: 5px;
}
p:last-child {
  margin-bottom: 0px;
  transition: 0.5s;
}
p:last-child:hover {
  border: 5px dashed black;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 2px 20px 20px red;
}

.b-color {
  background-color: #dad0e5;
}

.title {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.pad {
  padding: 50px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.header {
  padding-top: 30px;
}
.top__row {
  display: flex;
  justify-content: space-between;
}
.middle__row {
  display: flex;
  justify-content: space-between;
}
.middle__image img {
  height: 290px;
}
.list__unnumbered li {
  padding-left: 36px;
  margin-bottom: 20px;
}
.list__unnumbered li:nth-child(1) {
  background: url('../img/ul_list/li.png') left no-repeat;
}
.list__unnumbered li:nth-child(2) {
  background: url('../img/ul_list/li_1.png') left no-repeat;
}
.list__unnumbered li:nth-child(3) {
  background: url('../img/ul_list/li_2.png') left no-repeat;
}
.list__unnumbered li:nth-child(4) {
  background: url('../img/ul_list/li_3.png') left no-repeat;
}
.list__unnumbered li:last-child {
  background: url('../img/ul_list/li_4.png') left no-repeat;
}
.list__ordered li {
  padding-left: 36px;
  margin-bottom: 20px;
}
.list__ordered li:nth-child(1) {
  margin-top: 50px;
  background: url('../img/ol_list/li.png') left no-repeat;
}
.list__ordered li:nth-child(2) {
  background: url('../img/ol_list/li_1.png') left no-repeat;
}
.list__ordered li:nth-child(3) {
  background: url('../img/ol_list/li_2.png') left no-repeat;
}
.list__ordered li:last-child {
  background: url('../img/ol_list/li_3.png') left no-repeat;
}

.footer a {
  transition: 0.5s;
}
.footer__row {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}
.footer__text_1 {
  font-size: 20px;
  text-decoration: none;
}
.footer__text_1 a:visited {
  color: #000;
}
.footer__text_1 a:hover {
  color: chartreuse;
  font-size: 30px;
  text-decoration: underline;
}
